<html>
    <head>
        <title> Réseau électrique </title>
    </head>
    <body>

        <form method="post">
        <fieldset><legend>Bris non résolus</legend>
        <p>
          <label>Trier par</label></br>            
          <input type = "radio" name = "ordre_bris" value = "estimation_conso" checked="checked">
          <label>Besoin des abonnés</label>

          <input type = "radio" name = "ordre_bris" value = "nb_abonnes"> 
          <label>Nombre d'abonnées affectés</label>

          <input type = "radio" name = "ordre_bris" value = "date">
          <label>Ancienneté du bris</label>
          <button name="button" value"liste_bris">Consulter</button>
        </p>
        </fieldset>
        <fieldset><legend>Liste des villes</legend>
            <button name="button" value="liste_villes">Consulter</button><br><br>
        </fieldset>
        <fieldset><legend>Liste des centrales</legend>
            <button name="button" value="liste_centrales">Consulter</button><br>
        </fieldset>
        </form><br>
    </body>
</html>
